<h1>Create</h1>

<form action="/add_blog" method="post">

	<label>Title</label>
	<input type="text" name="title">
<p>

	<label>Your Post</label>
	<input type="text" name="text">
<p>

	<label>Author</label>
	<!-- labels the input box  -->
	<input type="text" name="author">
	<!-- says what type of info is going in text box and which object -->
<p>

	<label>Date</label>
	<input type="text" name="date">
<p>

	<label>Time</label>
	<input type="text" name="time">	
<p>
	<input type="submit" value="Post!">	
<!-- makes the submit button and allows you to title it -->
</form>
<p>
<a href="./">Home</a>
<a href="./edit">Edit</a>
<a href="./viewpost">View Post</a>
