<br>
<br>
<body>
	<div class="innercontainer">
	<form action="/add_blog" method="post">
		<br>
		<input type="text" name="title" placeholder="Title">
		<p>
		<textarea type="text" name="post" cols="50" rows="5" placeholder="Your Post!"></textarea>
		<br />
		
		<br>
		<!-- labels the input box  -->
		<input type="text" name="author" placeholder="Author">
		<!-- says what type of info is going in text box and which object -->
		<p>
		<input type="text" name="date" placeholder="Date">
		<br>
		<br>
		<input type="text" name="time" placeholder="Time">
		<br>
		<p>
		<input class="buttons" type="submit" value="Post!">	
	<!-- makes the submit button and allows you to title it -->
	</form>
</div>
</body>	
<p>
<footer>	
<a href="./">Home</a>
</footer>

